In [1]:
import pandas as pd
import numpy as np

In [4]:
file = 'new_2015_mls.csv'
df = pd.read_csv(file, encoding = "ISO-8859-1")
df.dtypes

Unnamed: 0           int64
Zip                  int64
Sqft Total          object
List Price          object
Sold/Lease$/SqFt    object
Sold/Lease Price    object
Sold/Lease Date     object
dtype: object

In [5]:
df.tail()

,Unnamed: 0,Zip,Sqft Total,List Price,Sold/Lease$/SqFt,Sold/Lease Price,Sold/Lease Date
11389,11389,78735,"5,105","$1,995,000",$377.08,"$1,925,000",5/26/2015
11390,11390,78735,"4,569","$2,100,000",$445.83,"$2,037,000",10/19/2015
11391,11391,78735,"5,248","$2,250,000",$423.97,"$2,225,000",2/12/2015
11392,11392,78735,"8,747","$2,950,000",$257.23,"$2,250,000",8/7/2015
11393,11393,78735,"9,713","$3,350,000",$318.39,"$3,092,500",12/11/2015

In [6]:
# Using .rename(columns={}) in order to rename columns
renamed_df = df.rename(columns={"Zip":"Zip Code", "Sqft Total":"Square Footage", "Sold/Lease$/SqFt":"Sold Price Per Foot","Sold/Lease Date":"Sold Date","Sold/Lease Price":"Sold Price"})
del renamed_df['Unnamed: 0']
# renamed_df = renamed_df.drop(renamed_df.index[-1])
renamed_df = renamed_df.fillna(0)

In [7]:
for idx, row in renamed_df.iterrows():
    renamed_df.set_value(idx,'Sold Price', float(str(row['Sold Price']).replace(',','').replace('$','').strip()))
    renamed_df.set_value(idx,'Zip Code', float(str(row['Zip Code']).replace(',','').replace('$','').strip()))
    renamed_df.set_value(idx, 'Square Footage', float(str(row['Square Footage']).replace(',','').replace('$','').strip()))
    renamed_df.set_value(idx,'List Price', float(str(row['List Price']).replace(',','').replace('$','').strip()))
    renamed_df.set_value(idx,'Sold Price Per Foot', float(str(row['Sold Price Per Foot']).replace(',','').replace('$','').strip()))

renamed_df.tail()

,Zip Code,Square Footage,List Price,Sold Price Per Foot,Sold Price,Sold Date
11389,78735,5105,1.995e+06,377.08,1.925e+06,5/26/2015
11390,78735,4569,2.1e+06,445.83,2.037e+06,10/19/2015
11391,78735,5248,2.25e+06,423.97,2.225e+06,2/12/2015
11392,78735,8747,2.95e+06,257.23,2.25e+06,8/7/2015
11393,78735,9713,3.35e+06,318.39,3.0925e+06,12/11/2015

In [8]:
renamed_df.dtypes

Zip Code                int64
Square Footage         object
List Price             object
Sold Price Per Foot    object
Sold Price             object
Sold Date              object
dtype: object

In [9]:
renamed_df['Sold Price'] = renamed_df['Sold Price'].astype(int)
renamed_df['Zip Code'] = renamed_df['Zip Code'].astype(int)
renamed_df['Square Footage'] = renamed_df['Square Footage'].astype(int)
renamed_df['Sold Price Per Foot'] = renamed_df['Sold Price Per Foot'].astype(float)
renamed_df['List Price'] = renamed_df['List Price'].astype(int)

In [10]:
renamed_df.dtypes

Zip Code                 int32
Square Footage           int32
List Price               int32
Sold Price Per Foot    float64
Sold Price               int32
Sold Date               object
dtype: object

In [13]:
renamed_df.describe()

,Zip Code,Square Footage,List Price,Sold Price Per Foot,Sold Price
count,11394.000000,11394.000000,1.139400e+04,11394.000000,1.139400e+04
mean,78736.601808,2260.709935,4.465359e+05,193.652472,4.366998e+05
std,15.740351,1052.115352,3.938307e+05,93.531028,3.694906e+05
min,78617.000000,431.000000,3.725000e+04,14.330000,3.725000e+04
25%,78728.000000,1517.000000,2.499125e+05,135.490000,2.499000e+05
50%,78738.000000,2046.000000,3.470000e+05,164.625000,3.409860e+05
75%,78748.000000,2758.000000,4.999900e+05,222.610000,4.920000e+05
max,78759.000000,15779.000000,8.950000e+06,1490.780000,6.817900e+06

In [14]:
renamed_df.head()

,Zip Code,Square Footage,List Price,Sold Price Per Foot,Sold Price,Sold Date
0,78731,1662,360000,197.05,327500,12/31/2015
1,78731,2912,399000,121.91,355000,9/16/2015
2,78731,1749,410000,228.70,400000,11/30/2015
3,78759,2204,419914,181.49,400000,7/21/2015
4,78759,2310,425000,181.82,420000,9/10/2015

In [15]:
new_2013_df = renamed_df
new_2013_df.to_csv("clean_2015_mls.csv")