In [1]:
import pandas as pd
import numpy as np

In [2]:
file = 'new_2016_mls.csv'
df = pd.read_csv(file, encoding = "ISO-8859-1")
df.dtypes

Unnamed: 0            int64
Zip                 float64
Sqft Total           object
List Price           object
Sold/Lease$/SqFt     object
Sold/Lease Price     object
Sold/Lease Date      object
dtype: object

In [3]:
df.tail()

,Unnamed: 0,Zip,Sqft Total,List Price,Sold/Lease$/SqFt,Sold/Lease Price,Sold/Lease Date
11550,11550,78735.0,"3,868","$1,529,900",$393.74,"$1,522,995",5/3/2016
11551,11551,78735.0,"5,311","$1,699,000",$305.97,"$1,625,000",8/16/2016
11552,11552,78735.0,"5,067","$2,100,000",$355.24,"$1,800,000",7/29/2016
11553,11553,78735.0,"4,566","$2,545,000",$557.38,"$2,545,000",11/21/2016
11554,11554,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Using .rename(columns={}) in order to rename columns
renamed_df = df.rename(columns={"Zip":"Zip Code", "Sqft Total":"Square Footage", "Sold/Lease$/SqFt":"Sold Price Per Foot","Sold/Lease Date":"Sold Date","Sold/Lease Price":"Sold Price"})
del renamed_df['Unnamed: 0']
renamed_df = renamed_df.drop(renamed_df.index[-1])
renamed_df = renamed_df.fillna(0)

In [5]:
for idx, row in renamed_df.iterrows():
    renamed_df.set_value(idx,'Sold Price', float(str(row['Sold Price']).replace(',','').replace('$','').strip()))
    renamed_df.set_value(idx,'Zip Code', float(str(row['Zip Code']).replace(',','').replace('$','').strip()))
    renamed_df.set_value(idx, 'Square Footage', float(str(row['Square Footage']).replace(',','').replace('$','').strip()))
    renamed_df.set_value(idx,'List Price', float(str(row['List Price']).replace(',','').replace('$','').strip()))
    renamed_df.set_value(idx,'Sold Price Per Foot', float(str(row['Sold Price Per Foot']).replace(',','').replace('$','').strip()))

renamed_df.tail()

,Zip Code,Square Footage,List Price,Sold Price Per Foot,Sold Price,Sold Date
11549,78735.0,5216,1.5e+06,287.58,1.5e+06,12/12/2016
11550,78735.0,3868,1.5299e+06,393.74,1.523e+06,5/3/2016
11551,78735.0,5311,1.699e+06,305.97,1.625e+06,8/16/2016
11552,78735.0,5067,2.1e+06,355.24,1.8e+06,7/29/2016
11553,78735.0,4566,2.545e+06,557.38,2.545e+06,11/21/2016

In [6]:
renamed_df.dtypes

Zip Code               float64
Square Footage          object
List Price              object
Sold Price Per Foot     object
Sold Price              object
Sold Date               object
dtype: object

In [7]:
renamed_df['Sold Price'] = renamed_df['Sold Price'].astype(int)
renamed_df['Zip Code'] = renamed_df['Zip Code'].astype(int)
renamed_df['Square Footage'] = renamed_df['Square Footage'].astype(int)
renamed_df['Sold Price Per Foot'] = renamed_df['Sold Price Per Foot'].astype(float)
renamed_df['List Price'] = renamed_df['List Price'].astype(int)

In [8]:
renamed_df.dtypes

Zip Code                 int32
Square Footage           int32
List Price               int32
Sold Price Per Foot    float64
Sold Price               int32
Sold Date               object
dtype: object

In [9]:
renamed_df.describe()

,Zip Code,Square Footage,List Price,Sold Price Per Foot,Sold Price
count,11554.000000,11554.000000,1.155400e+04,11554.000000,1.155400e+04
mean,78736.490306,2242.389649,4.610923e+05,204.398268,4.504572e+05
std,16.149596,1038.030313,3.980296e+05,93.072439,3.638628e+05
min,78613.000000,336.000000,1.990000e+04,5.770000,1.500000e+04
25%,78727.000000,1520.000000,2.700000e+05,144.362500,2.690015e+05
50%,78738.000000,2039.500000,3.650000e+05,174.320000,3.600000e+05
75%,78748.000000,2744.000000,5.200000e+05,238.575000,5.120000e+05
max,78759.000000,20117.000000,1.420000e+07,1255.410000,1.150000e+07

In [10]:
renamed_df.head()

,Zip Code,Square Footage,List Price,Sold Price Per Foot,Sold Price,Sold Date
0,78731,2342,495000,188.98,442600,7/5/2016
1,78759,1798,449900,247.50,445000,10/31/2016
2,78731,1692,450000,265.37,449000,8/31/2016
3,78759,1803,469900,249.58,450000,12/6/2016
4,78759,1810,445000,248.62,450000,7/8/2016

In [11]:
new_2013_df = renamed_df
new_2013_df.to_csv("clean_2016_mls.csv")