In [5]:
import pandas as pd
import numpy as np

In [6]:
file = 'new_2017_mls.csv'
df = pd.read_csv(file, encoding = "ISO-8859-1")
df.dtypes

Unnamed: 0           int64
Zip                  int64
Sqft Total          object
List Price          object
Sold/Lease$/SqFt    object
Sold/Lease Price    object
Sold/Lease Date     object
dtype: object

In [7]:
df.tail()

,Unnamed: 0,Zip,Sqft Total,List Price,Sold/Lease$/SqFt,Sold/Lease Price,Sold/Lease Date
10483,10483,78736,"3,534","$2,100,000",$509.34,"$1,800,000",4/17/2017
10484,10484,78735,"10,828","$2,500,000",$190.55,"$2,063,250",5/18/2017
10485,10485,78735,"6,308","$2,249,000",$344.80,"$2,175,000",9/22/2017
10486,10486,78735,"5,261","$2,675,000",$508.46,"$2,675,000",5/1/2017
10487,10487,78735,"10,844","$4,999,000",$372.10,"$4,035,000",1/27/2017

In [8]:
# Using .rename(columns={}) in order to rename columns
renamed_df = df.rename(columns={"Zip":"Zip Code", "Sqft Total":"Square Footage", "Sold/Lease$/SqFt":"Sold Price Per Foot","Sold/Lease Date":"Sold Date","Sold/Lease Price":"Sold Price"})
del renamed_df['Unnamed: 0']
# renamed_df = renamed_df.drop(renamed_df.index[-1])
renamed_df = renamed_df.fillna(0)

In [9]:
for idx, row in renamed_df.iterrows():
    renamed_df.set_value(idx,'Sold Price', float(str(row['Sold Price']).replace(',','').replace('$','').strip()))
    renamed_df.set_value(idx,'Zip Code', float(str(row['Zip Code']).replace(',','').replace('$','').strip()))
    renamed_df.set_value(idx, 'Square Footage', float(str(row['Square Footage']).replace(',','').replace('$','').strip()))
    renamed_df.set_value(idx,'List Price', float(str(row['List Price']).replace(',','').replace('$','').strip()))
    renamed_df.set_value(idx,'Sold Price Per Foot', float(str(row['Sold Price Per Foot']).replace(',','').replace('$','').strip()))

renamed_df.tail()

,Zip Code,Square Footage,List Price,Sold Price Per Foot,Sold Price,Sold Date
10483,78736,3534,2.1e+06,509.34,1.8e+06,4/17/2017
10484,78735,10828,2.5e+06,190.55,2.06325e+06,5/18/2017
10485,78735,6308,2.249e+06,344.8,2.175e+06,9/22/2017
10486,78735,5261,2.675e+06,508.46,2.675e+06,5/1/2017
10487,78735,10844,4.999e+06,372.1,4.035e+06,1/27/2017

In [10]:
renamed_df.dtypes

Zip Code                int64
Square Footage         object
List Price             object
Sold Price Per Foot    object
Sold Price             object
Sold Date              object
dtype: object

In [11]:
renamed_df['Sold Price'] = renamed_df['Sold Price'].astype(int)
renamed_df['Zip Code'] = renamed_df['Zip Code'].astype(int)
renamed_df['Square Footage'] = renamed_df['Square Footage'].astype(int)
renamed_df['Sold Price Per Foot'] = renamed_df['Sold Price Per Foot'].astype(float)
renamed_df['List Price'] = renamed_df['List Price'].astype(int)

In [12]:
renamed_df.dtypes

Zip Code                 int32
Square Footage           int32
List Price               int32
Sold Price Per Foot    float64
Sold Price               int32
Sold Date               object
dtype: object

In [13]:
renamed_df.describe()

,Zip Code,Square Footage,List Price,Sold Price Per Foot,Sold Price
count,10488.000000,10488.000000,1.048800e+04,10488.000000,1.048800e+04
mean,78729.514683,2266.688596,4.955054e+05,215.882963,4.835067e+05
std,692.137744,1081.500426,4.777981e+05,101.742728,4.379496e+05
min,7874.000000,356.000000,1.990000e+04,9.620000,2.500000e+04
25%,78727.000000,1521.750000,2.890000e+05,151.907500,2.850000e+05
50%,78738.000000,2038.000000,3.850000e+05,185.635000,3.800000e+05
75%,78748.000000,2775.000000,5.499992e+05,252.422500,5.400000e+05
max,78759.000000,16406.000000,2.500000e+07,3308.140000,2.179400e+07

In [14]:
renamed_df.head()

,Zip Code,Square Footage,List Price,Sold Price Per Foot,Sold Price,Sold Date
0,78759,1696,379000,238.80,405000,10/27/2017
1,78759,2024,424999,207.51,420000,8/14/2017
2,78759,1978,395000,216.63,428500,6/23/2017
3,78759,2080,495000,210.34,437500,10/3/2017
4,78731,1527,450000,290.11,443000,10/26/2017

In [15]:
new_2013_df = renamed_df
new_2013_df.to_csv("clean_2017_mls.csv")